@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #0A192F;
  color: #ffffff;
  font-family: 'Inter';
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.pallete {
  color: #dc323f;
  color: #F1FAEE;
  color: #A8DADC;
  color: #457B9D;
  color: #1D3557;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0A192F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8892B0;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000058;
}